[submodule "deps/eigen-git-mirror"]
	path = deps/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "deps/enoki"]
	path = deps/enoki
	url = https://github.com/mitsuba-renderer/enoki.git
