# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# IMPORTANT: the teams have to have at least write permission in Kratos, otherwise codeowners doesn't work!

/*                    @aronnoordam @brunozc
/kratos/              @aronnoordam @brunozc
/.github/             @aronnoordam @brunozc
/cmake_modules/       @aronnoordam @brunozc
/external_libraries/gidpost  @aronnoordam @brunozc
/external_libraries/  @aronnoordam @brunozc
/scripts/             @aronnoordam @brunozc
/kratos/mpi           @aronnoordam @brunozc

# Applications
/applications/LinearSolversApplication/                @aronnoordam @brunozc
/applications/StructuralMechanicsApplication/          @aronnoordam @brunozc
/applications/GeoMechanicsApplication/                 @aronnoordam @brunozc
/applications/RadiationApplication/                @aronnoordam @brunozc
