### ATTENTION ###
# This is the GLOBAL gitignore, please do NOT change this file,
# unless it should be available for everyone
# Please change the LOCAL gitignore (.git/info/exclude) to customize
# exluding files/folders from being recognized by git

# Recovery files
*~

# Compiled python
*.pyc

# Common build directory
~scripts/standard_configure_MINGW.sh
~scripts/standard_configure_mac.sh
~scripts/standard_configure.sh
~scripts/standard_configure_MINGW.bat
~scripts/standard_configure.bat
scripts/*.out
scripts/*.sh
scripts/*.bat
build/*
bin/*
docs/.jekyll-cache/*
docs/_site/*

# Autocopied file
kratos/scripts/wheels/README.md

# Times files
*.time

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# GiD post files
*.post.res
*.post.msh
*.post.bin
*.post.lst

# VTK post files
*.vtk
*.vtu

# HDF5 files
*.h5
*.hdf5

# Output of tests of meshing application (MMG)
*.sol
*.mesh
*.o.sol
*.o.mesh

# Backup files
*.bak

# Most used editor files
*.vscode
*.idx
remote_*.md

/compile_commands.json

# External downloaded libs (TPL downloaded libs, etc...)
external_libraries/tetgen/*

