# Recovery files
*~

# Compiled python
*.pyc

# Common build directory
cmake_build/*
!cmake_build/example_configure.bat.do_not_touch
!cmake_build/example_configure.sh.do_not_touch
packaging/*
packaging_aux/KratosLoader.py
packaging_aux/kratos.conf

# Compile and install directories
KratosMultiphysics/*
libpython*
libs/*
runkratos
script.py

# Version
kratos/includes/kratos_version.h

# Times files
*.time

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# GiD post files
*.post.res
*.post.msh
*.post.bin
*.post.lst

# Output of tests of meshing application (MMG)
*.sol
*.mesh
*.o.sol
*.o.mesh

*.bak

*.h~
*.cpp~

applications/python_scripts/beam_profiles\.csv

applications/FluidDynamicsApplication/.PowerFolder

