# Recovery files
*.~

# Compiled python
*.pyc

# Common build directory
cmake_build/*
!cmake_build/example_configure.bat.do_not_touch
!cmake_build/example_configure.sh.do_not_touch
packaging/*
packaging_aux/KratosLoader.py
packaging_aux/kratos.conf

# Compile and install directories
KratosMultiphysics/*
libpython*
libs/*
runkratos
script.py

# Version
kratos/includes/kratos_version.h

# Times files
*.time

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Output of tests of meshing application (MMG)
*.o.sol
*.o.mesh


# User defined by Philipp##
cmake_build_debug/*

# Partitioned mdpa files
*0.mdpa
*1.mdpa
*2.mdpa
*3.mdpa
*4.mdpa
*5.mdpa
*6.mdpa
*7.mdpa
*8.mdpa
*9.mdpa

# Tests output directories
applications/MappingApplication/tests/NearestNeighborMapperTest_gid_output
applications/MappingApplication/tests/MapperTests_gid_output
applications/MappingApplication/tests/NearestElementMapperTest2D_gid_output
applications/MappingApplication/development

applications/MappingApplication/tests/output_tests.txt
applications/MappingApplication/tests/output_kratos.txt