[submodule "applications/PfemApplication/external_modules/tetgen"]
	path = applications/PfemApplication/external_modules/tetgen
	url = https://github.com/PFEM/tetgen.git
[submodule "external_libraries/ANurbs"]
	path = external_libraries/ANurbs
	url = https://github.com/oberbichler/ANurbs.git
