CMakeCache.txt
CTestConfig.cmake
*~
*.swp

archives
bin
build*/*
build/*

doc/doxygen/*/Doxyfile
doc/doxygen/*/html
doc/doxygen/*/latex
doc/doxygen/man

lib

libexamples/*/*/mainTESTADJA.c
libexamples/*/*/*/mesh.*
libexamples/*/*/result0.*
libexamples/*/*/2spheres_*
libexamples/*/*/*.o*
libexamples/*/*/mesh.*
libexamples/*/*/cube.3d.*
libexamples/*/*/cube.s.*
libexamples/*/*/result.*

ci_tests

src/common/mmg.h

include/*
*.o

.DS_Store
.vscode

TAGS
.scannerwork/*
sonar-project.properties
