# This is the TOML pyproject for the unified Kratos package.
# this project is intended to pack Kratos with all applications compiled in your local environmen.

# The pyproject.toml for Kratos core is locates in [ROOT]/kratos/pyproject.toml
# The pyproject.toml for applications are located in [ROOT]/applications/[APP_NAME]/pyproject.toml

title = "KratosMultiphysics"

[build-system]
    requires = ["hatchling"]
    build-backend = "hatchling.build"

[project]
    name = "KratosMultiphysics"
    description = "Kratos Multiphysics Python Framework"
    requires-python = ">=3.8"
    authors = [
        { name = "Kratos Multiphysics Developers", email = "kratos@cimne.upc.edu" }
    ]
    dependencies = [
        "numpy>=1.20",
        "pytest"
    ]
    dynamic = ["version"]

[tool.hatch.build.targets.wheel]
    include = [
        # Python Interface
        "KratosMultiphysics/**/*.py",
        # Hinting
        "KratosMultiphysics/**/*.pyi"
    ]    

# Hook to Build Properties
[tool.hatch.build.targets.wheel.hooks.custom]
    path = "hatch_build.py"

[tool.hatch.build.targets.wheel.force-include]
    libs = "KratosMultiphysics/.libs"

[tool.hatch.build.targets.editable]
    include = [
        "KratosMultiphysics/**/*.py",
        "KratosMultiphysics/**/*.pyi"
    ]

[tool.hatch.build.targets.editable.force-include]
    libs = "KratosMultiphysics/.libs"

# Hook to Metadata
[tool.hatch.metadata.hooks.custom]
    path = "hatch_build.py"
