// This file is a template to generate the output for the test

/**
 * 2D
 */

// ------------------------- substitute_rho_proj_2D -------------------------
//substitute_rho_proj_2D

// ------------------------- substitute_mom_proj_2D -------------------------
//substitute_mom_proj_2D

// ------------------------- substitute_tot_ener_proj_2D -------------------------
//substitute_tot_ener_proj_2D

// ------------------------- substitute_lhs_2D_OSS -------------------------
//substitute_lhs_2D_OSS

// ------------------------- substitute_rhs_2D_OSS -------------------------
//substitute_rhs_2D_OSS

// ------------------------- substitute_lhs_2D_ASGS -------------------------
//substitute_lhs_2D_ASGS

// ------------------------- substitute_rhs_2D_ASGS -------------------------
//substitute_rhs_2D_ASGS

