// This file is a template to generate the output for the test

/**
 * 3D
 */

// ------------------------- substitute_rho_proj_3D -------------------------
//substitute_rho_proj_3D

// ------------------------- substitute_mom_proj_3D -------------------------
//substitute_mom_proj_3D

// ------------------------- substitute_tot_ener_proj_3D -------------------------
//substitute_tot_ener_proj_3D

// ------------------------- substitute_lhs_3D_OSS -------------------------
//substitute_lhs_3D_OSS

// ------------------------- substitute_rhs_3D_OSS -------------------------
//substitute_rhs_3D_OSS

// ------------------------- substitute_lhs_3D_ASGS -------------------------
//substitute_lhs_3D_ASGS

// ------------------------- substitute_rhs_3D_ASGS -------------------------
//substitute_rhs_3D_ASGS

