# Sample workflow for building and deploying a Jekyll site to GitHub Pages
name: Deploy GitHub Pages

on:
  pull_request:
    branches:
      - master
    paths:
      - 'docs/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout static page content
        uses: actions/checkout@v4
        with:
          repository: KratosMultiphysics/Documentation
          ref: master
          path: statik_content
      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          path: main
      - name: Configure page content
        shell: bash
        run: cp -r statik_content/Page_files/* main/docs/
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Create navigation menus
        shell: bash
        run: cd main/docs && python3 process_pages.py -t web
      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./main/docs
          destination: ./main/docs/_site
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./main/docs/_site

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
